<!-- distrated ranking page-->
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Leader board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <app-tool-bar></app-tool-bar>
<ion-grid >
  <ion-row >
  <div class="col" ><ion-col class="row">Rank</ion-col></div>
  <div class="col" ><ion-col class="row" >Name</ion-col></div>
  <div class="col" ><ion-col class="row">Score</ion-col></div>
  </ion-row>
  <ion-row>
  <div class="col" ><ion-col>1</ion-col></div>
  <div class="col" ><ion-col>User1</ion-col></div>
  <div class="col" ><ion-col>50</ion-col></div>
  </ion-row>
  <ion-row>
    <div class="col" ><ion-col>2</ion-col></div>
    <div class="col" ><ion-col>User2</ion-col></div>
    <div class="col" ><ion-col>100</ion-col></div>
    </ion-row>
</ion-grid>
</ion-content>
<app-footer></app-footer>
