<!-- rewards page -->
<ion-header>
<app-header title="Rewards"></app-header>
</ion-header>

<ion-content>
  <ion-text  align="center" color="success">
    <h2>Welcome to the Rewards Shops!</h2>
  </ion-text>
  <ion-text align="center" color="success">
    <h2>Here you can buy cool stuff like profile pictures and background.</h2>
  </ion-text>
  <ion-text align="center" color="success">
    <h2>All you need to do is drive well,collect Stars, and shop!</h2>
  </ion-text>
  <ion-text align="center" color="success">
    <h2>Highlighted rewards fit your current Stars budgets.</h2>
  </ion-text>
  <ion-button  expand="block" color="success" size="full" (click)="reward()">Nice!</ion-button>
</ion-content>
<app-footer></app-footer>
