ion-list {
    padding:0;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 20%);
    
}
h2{
  margin-left: 12px;
  margin-right: 12px;
  font-size: 25px;
  line-height: 1.5em;
}
ion-text{
    padding: 3px 3px;
    text-align: center;
    margin-left:10%;
    margin-right:10%;
  }
  ion-button{
    font-weight: bold;
    font-size:20px;
    width:80%;
    text-align: center;
    margin-left:10%;
    margin-right:10%;
    
  }