<!-- first page after fisrt authentification after registration-->
<ion-header>
  <app-header title="myApp"></app-header>
</ion-header>

<ion-content>
<ion-icon  color="warning" name="star"></ion-icon>
<ion-text  align="center" color="success">
  <h2>Stars are the main currency in this app(app name).You earn them by driving safely!</h2>
</ion-text>
<ion-text align="center" color="success">
  <h2>The safer you drive,the more Stars you earn.</h2>
</ion-text>
<ion-text align="center" color="success">
  <h2>We would like to reward you just for signing up!Complete your profile!So go ahead and collect some stars!</h2>
</ion-text>
<ion-button  expand="block" color="success" size="full" (click)="profile()">Collect 100 Stars</ion-button>
</ion-content>
<app-footer></app-footer>
