ion-title{
    font-weight: bold;
    font-size: 25px;
    text-transform:uppercase;
}
ion-content{
    --background: #2dd36f;
}
ion-button[color="success"]{
    text-transform:uppercase;

}
ion-title{
    font-weight: bold;
    font-size: large;
}
ion-label{
    padding:10px;
}