<!-- reward page -->
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title >Rewards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-tool-bar></app-tool-bar>
<ion-list color="success">
  <ion-item color="success">
    <ion-label>
      <h1>Profile picture</h1>
    </ion-label>
  </ion-item>
</ion-list>
<ion-item>
  <ion-button shape="circle" fill="clear">
  <ion-avatar >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeAo6YTMI30WP81ZZo9P4i1ohllnM_Se3WBN95ku0R5BaC8Z_kii6oe4MMUEwzV2NBzCk&usqp=CAU"/>
  </ion-avatar>
</ion-button>
<ion-button shape="circle" fill="clear">
  <ion-avatar >
    <img src="https://www.shareicon.net/data/512x512/2016/08/05/806962_user_512x512.png"/>
  </ion-avatar>
</ion-button>
</ion-item>
<ion-list color="success">
  <ion-item color="success">
    <ion-label>
      <h1>Profile Backgrounds</h1>
    </ion-label>
  </ion-item>
</ion-list>
<ion-item>
<ion-button shape="circle" color="success"></ion-button>
<ion-button shape="circle" color="warning" ></ion-button>
<ion-button shape="circle" ></ion-button>
</ion-item>


</ion-content>
<app-footer></app-footer>
