ion-list [color='success']{
    padding:0;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 20%);

}
h3{
        font-weight: bold;
        color:#2dd36f;
        font-size:20px;
        
}

ion-avatar{
    width:75px;
    height:75px;
}
ion-label{
    font-weight: bold;
    margin-left: 15px;
    font-size: 20px;
}
ion-button{
    font-weight: bold;
    font-size:18px ;
}
.toolbar{
    ion-toolbar{
        margin-top: 20%;
        box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
        h2{ 
            font-size: 16px;
            color:black;
            font-weight: bold;
    
        }
        span{
            font-size: 22px;
        }
        
    
    }
    }
    ion-footer{
        ion-title{
          color:darkgrey;
        
        }
      }