<!-- Speed and distracted ranking page-->
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Leader board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-tool-bar></app-tool-bar>
<img src="https://thumbs.dreamstime.com/b/rate-scale-level-mood-rating-indicators-satisfaction-score-graph-ratings-emoji-barometer-vector-illustration-icons-set-indicator-194605719.jpg"/>
<ion-item>
  <ion-label color="success">Speeding Ranking</ion-label>
  <ion-button fill="clear" color="success" (click)="speedranking()">Click Here !</ion-button>
</ion-item>

<ion-item>
  <ion-label color="success">Distracted Ranking</ion-label>
  <ion-button fill="clear" color="success" (click)="distractedranking()">Click Here !</ion-button>
</ion-item>


<div class="toolbar">
  <ion-toolbar ><h2><span>Badges</span></h2></ion-toolbar>
  </div>
</ion-content>
<app-footer></app-footer>

