<!-- Help page -->
<ion-header>
  <app-header title="Help"></app-header>
</ion-header>

<ion-content>
<app-tool-bar></app-tool-bar>
<ion-text align="center"><h1>Software Project Management Research Team,ENSIAS, Mohammed V University in Rabat,Morocco</h1></ion-text>
<ion-text align="center"><h2>Questions and comments<br>Please contact us with questions or to provide feedback</h2></ion-text>
<ion-button size="full" color="success" (click)="emailus()">EMAIL US</ion-button>
<ion-list class="icon">
<ion-item>
<ion-icon name="document-attach" color="success"></ion-icon>
<ion-button fill="clear" size="full"><h2>Terms and Conditons</h2></ion-button>
</ion-item>
<ion-item>
<ion-icon name="help-circle" color="success"></ion-icon>
<ion-button fill="clear" ><h2>App FAQs</h2></ion-button>
</ion-item>
</ion-list>
</ion-content>
<app-footer></app-footer>
