h3{
  font-weight: bold;
  color:#2dd36f;
  font-size: 22px;
  
}
ion-avatar{
  width:75px;
  height:75px;
}
h2{
   height:80%;
   font-size: 18px;
   text-align: justify;
   p{
    padding-top:45px;
    padding-bottom:80px;
    font-size: 19px;
    color:darkgrey;
   }
  }
 ion-button{
    font-weight: bold;
    font-size:20px;
    width:80%;
    text-align: center;
    margin-left:10%;
    margin-right:10%;

    
  }

