<!-- notification page-->
<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>myApp</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Notifications
      </ion-card-subtitle>
    </ion-card-header>
  <ion-card-content>
    <div>
      <ion-item lines="none">
        <ion-icon name="person-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          Complete your profile
          <p><ion-progress-bar value="0.25"  color="warning"></ion-progress-bar></p>
        </ion-label>
      </ion-item>
    </div>
    <div>
      <ion-item lines="none">
        <ion-icon name="grid-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          Update your app
          <p>Get the last version</p>
        </ion-label>
      </ion-item>
    </div>

</ion-card-content>
</ion-card>
</ion-content>
