ion-card{
    ion-card-subtitle{
        font-weight: bold;
    }
    p{
        white-space: normal;
        padding:5px;
        margin:5px;
    }
    ion-label{
        font-weight:bold;
        font-style: italic;
    }

}
.notif{
    text-align: center;
}